#login-container {
  height: 100vh !important;
}

#loader-container {
  height: 70vh !important;
}

.spinner-border {
  width: 100px !important;
  height: 100px !important;
}

.dropdown-menu-arrow::before {
  background-color: #0D6EFD !important;
}

.card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
  color: #4154f1;
  background: #f6f6fe;
}

.title {
  font-size: 45px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .toggle-sidebar-btn {
    display: block !important;
  }
}